@model dynamic

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
        width: 27%;
    }

        table th {
            background: #b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

        table td {
            background: #dcddc0;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

    .foot {
        background: #dcddc0;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
        text-align: center;
        width: 25%;
    }

    img {
        vertical-align: text-top;
    }

    .columnWidth {
        width: 500px;
    }
</style>
@{
    //Html.RenderPartial("~/Views/Shared/Index.cshtml", Model);
    var webgrid = new WebGrid(defaultSort: "id", canPage: true, rowsPerPage: (dynamic)Model.PageSize, ajaxUpdateContainerId: "grid");
    webgrid.Bind(Model.Products, autoSortAndPage: false, rowCount: Model.TotalRows);
    webgrid.Pager(WebGridPagerModes.All);
}
<div>
    @webgrid.GetHtml(
            columns: webgrid.Columns(
                webgrid.Column("appdomain", "应用程序"),
                webgrid.Column("file", "文件"),
                webgrid.Column("date", "日期"),
                webgrid.Column("message", "日志"),
                webgrid.Column("aspnetcache", "缓存", style: "columnWidth"),
                webgrid.Column("aspnetcontext", "上下文", style: "columnWidth")
                )
            //tableStyle: "webgrid",
            //headerStyle: "webgrid-header",
            //footerStyle: "webgrid-footer",
            //alternatingRowStyle: "webgrid-alternating-row",
            //selectedRowStyle: "webgrid-selected-row",
            //rowStyle: "webgrid-row-style"
        )
</div>
<div style="width: 1300px">
    <div style="float: left">
        <img src="@Url.Action("Chart")" alt="SimpleChart"/>
    </div>
    <div style="float: left">
        <img src="@Url.Action("MyChart")" alt="kkko"/>
    </div>
</div>

