@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .webgrid {
        width: 100%;
        border: 2px;
        border-collapse: collapse;
    }

        .webgrid a {
            color: #000;
        }

    .webgrid-header {
        text-align: center;
        padding: 6px 5px;
        text-align: center;
        background-color: #e8eef4;
        border-bottom: 2px solid #3966A2;
        height: 40px;
        border-top: 2px solid #D6E8FF;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
    }

    .webgrid-footer {
        padding: 6px 5px;
        text-align: center;
        background-color: #e8eef4;
        border-top: 2px solid #3966A2;
        height: 30px;
        border-bottom: 2px solid #D6E8FF;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
    }

    .webgrid-alternating-row {
        height: 30px;
        background-color: #f2f2f2;
        border-bottom: 1px solid #d2d2d2;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
    }

    .webgrid-row-style {
        height: 30px;
        border-bottom: 1px solid #d2d2d2;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
    }

    .webgrid-selected-row {
        font-weight: bold;
    }
    th {
        text-align: center; 
    }
</style>
@{
    //Html.RenderPartial("~/Views/Shared/Index.cshtml", Model);
    var webgrid = new WebGrid(source: Model, defaultSort: "id");
}
<div>
    @webgrid.GetHtml(
        columns: webgrid.Columns(
            webgrid.Column("appdomain"),
            webgrid.Column("file"),
            webgrid.Column("date"),
            webgrid.Column("message"),
            webgrid.Column("aspnetcache"),
            webgrid.Column("aspnetcontext")
            ),
        tableStyle: "webgrid",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style")
</div>
<div>
    <img src="@Url.Action("Chart")" alt="SimpleChart"/>
</div>

