<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Novotny.IECookieHelper.LowRights.CookieServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Novotny.IECookieHelper.LowRights.CookieServiceBehavior"
          name="Novotny.IECookieHelper.LowRights.CookieService">
        <endpoint
          address="CookieService"
          binding="netNamedPipeBinding"
          contract="Novotny.IECookieHelper.LowRights.ICookieService"
                  />

      </service>
    </services>
  </system.serviceModel>
</configuration>
