<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
 <log4net>
   <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\\sharelog.txt" />
      <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="256" />
     <maximumFileSize value="16MB" />
     <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
     <layout type="log4net.Layout.PatternLayout">
	<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
   <appender name="RecycleBoxLog" type="log4net.Appender.RollingFileAppender">
     <param name="File" value="logs\\RecycleBoxLog.txt" />
     <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="10" />
     <maximumFileSize value="16MB" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Header]\r\n" />
       <param name="Footer" value="[Footer]\r\n" />
       <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
     </layout>
   </appender>
   <appender name="ConfigurationManager" type="log4net.Appender.RollingFileAppender">
     <param name="File" value="logs\\ConfigurationManagerLog.txt" />
     <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="10" />
     <maximumFileSize value="16MB" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Header]\r\n" />
       <param name="Footer" value="[Footer]\r\n" />
       <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
     </layout>
   </appender>
   <appender name="NotifierServer" type="log4net.Appender.RollingFileAppender">
     <param name="File" value="logs\\NotifierServerLog.txt" />
     <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="10" />
     <maximumFileSize value="16MB" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Header]\r\n" />
       <param name="Footer" value="[Footer]\r\n" />
       <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
     </layout>
   </appender>
   <appender name="RestSharp" type="log4net.Appender.RollingFileAppender">
     <param name="File" value="logs\\RestSharpLog.txt" />
     <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="10" />
     <maximumFileSize value="16MB" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Header]\r\n" />
       <param name="Footer" value="[Footer]\r\n" />
       <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
     </layout>
   </appender>
   <appender name="PrintProcess" type="log4net.Appender.RollingFileAppender">
     <param name="File" value="logs\\PrintProcessLog.txt" />
     <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="10" />
     <maximumFileSize value="16MB" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Header]\r\n" />
       <param name="Footer" value="[Footer]\r\n" />
       <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
     </layout>
   </appender>
   <appender name="PrintOutput" type="log4net.Appender.RollingFileAppender">
     <param name="File" value="logs\\PrintOutputLog.txt" />
     <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="10" />
     <maximumFileSize value="16MB" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Header]\r\n" />
       <param name="Footer" value="[Footer]\r\n" />
       <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
     </layout>
   </appender>
   <appender name="QueryManagerSVLog" type="log4net.Appender.RollingFileAppender">
     <param name="File" value="logs\\QueryManagerLog.txt" />
     <param name="AppendToFile" value="true" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="10" />
     <maximumFileSize value="16MB" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Header]\r\n" />
       <param name="Footer" value="[Footer]\r\n" />
       <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
     </layout>
   </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
   <logger name="RecycleBoxWebService.asmx.RecycleBoxLog">
     <level value="ALL" />
     <appender-ref ref="RecycleBoxLog" />   
   </logger>
   <logger name="ConfigurationManager">
     <level value="ALL" />
     <appender-ref ref="ConfigurationManager" />
   </logger>
   <logger name="NotifierServer">
     <level value="ALL" />
     <appender-ref ref="NotifierServer" />
   </logger>
   <logger name="RestSharp">
     <level value="ALL" />
     <appender-ref ref="RestSharp" />
   </logger>
   <logger name="PrintProcess">
     <level value="ALL" />
     <appender-ref ref="PrintProcess" />
   </logger>
   <logger name="PrintOutput">
     <level value="ALL" />
     <appender-ref ref="PrintOutput" />
   </logger>
   <logger name="QueryManagerSVLog">
     <level value="ALL" />
     <appender-ref ref="QueryManagerSVLog" />
   </logger>
 </log4net>
</configuration>
