@using BootstrapSupport
@model System.Collections.IEnumerable  
<h4>@Model.GetLabel() <small>Listing</small></h4>
<table id="example" border="0" cellpadding="0" cellspacing="0" width="100%" class="dataTable">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model.VisibleProperties())
            {

                <th>
                    @property.GetLabel().ToSeparatedWords()
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int index = 0; }
        @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;

            <tr>
                @foreach (var property in model.VisibleProperties())
            {

                    <td>
                        @Html.Display(index + "." + property.Name)
                    </td>                    
            }
            </tr>
            index++;
    }
    </tbody>
</table>


