<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
   <appender name="file-appender" type="log4net.Appender.FileAppender+MinimalLock">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
   </appender>
 
   <appender name="sqlite-appender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />
      <connectionString value="Data Source=|DataDirectory|\DebugLog.db;Synchronous=Off " />
      <commandText value="INSERT INTO log4net
                                     (
                                      appdomain, aspnetcache, aspnetcontext, 
                                      aspnetrequest, aspnetsession, [date], 
                                      exception, file, identity, location, level, 
                                      line, logger, message, method, ndc, 
                                      property, stacktrace, stacktracedetail, 
                                      [timestamp], thread, type, username, 
                                      utcdate
                                     ) 
                              VALUES (
                                      @appdomain, @aspnetcache, @aspnetcontext, 
                                      @aspnetrequest, @aspnetsession, @date, 
                                      @exception, @file, @identity, @location, 
                                      @level, @line, @logger, @message, @method, 
                                      @ndc, @property, @stacktrace, @stacktracedetail, 
                                      @timestamp, @thread, @type, @username, 
                                      @utcdate
                                     )" />
      <parameter>
         <parameterName value="@appdomain" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%appdomain" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@aspnetcache" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%aspnet-cache" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@aspnetcontext" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%aspnet-context" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@aspnetrequest" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%aspnet-request" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@aspnetsession" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%aspnet-session{Usuario}" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@date" />
         <dbType value="DateTime" />
         <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
         <parameterName value="@exception" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%exception" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@file" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%file" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@identity" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%identity" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@location" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%location" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@level" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@line" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%line" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@logger" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@message" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@method" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%method" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@ndc" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%ndc" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@property" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@stacktrace" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%stacktrace" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@stacktracedetail" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%stacktracedetail" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@timestamp" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%timestamp" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@thread" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%thread" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@type" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%type" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@username" />
         <dbType value="String" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%username" />
         </layout>
      </parameter>
      <parameter>
         <parameterName value="@utcdate" />
         <dbType value="DateTime" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss}" />
         </layout>
      </parameter>
   </appender>
   
   <root>
      <level value="ALL" />
      <appender-ref ref="sqlite-appender" />
      
      <!-- Uncomment when basic TextAppender is needed
      <appender-ref ref="file-appender" />
      -->
   </root>
</log4net>